# Игнорировать директорию node_modules
node_modules/
bk/combined.log
bk/error.log
bk/errorAuth.log
bk/warnAuth.log
bk/uploads/
fr/package-lock.json

fr/public/files/Mutula2024/

/.pnp
.pnp.js
*.drawio
*.rar
*.txt
*.db
*.doc
*.docx
*.pdf
*copy*

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*